@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    height: 4px; 
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0f172a; 
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 #0f172a;
  }
}